<a href="https://colab.research.google.com/github/Bechilld/MOB4.0/blob/main/V%C3%ADdeo3mob4_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![WhatsApp Image 2022-09-09 at 09.51.53.jpeg]()

*  003
Continuando...

**O intuito dessa aula é continuar os nossos estudos na exploração do DataFrame(Tabela de dados) e saber como retirar algumas informações.**

Vamos importar o pandas novamente.

In [ ]:
#importando pandas
import pandas as pd

Com pandas já importado, vamos usar o mesmo documento do vídeo anterior. 
Dados do Airbnb.

**importando**

In [ ]:
#importando os dados
df = pd.read_csv("http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2022-06-20/visualisations/listings.csv")

Agora, vale a pena mostrar algumas funções que nos ajudam a manipular os nossos estudos.

In [ ]:
#mostrando as 5 primeiras linhas
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.96599,-43.17940,Entire home/apt,350,5,272,2022-04-23,1.87,1,311,8,NaN
1,556930647599893392,Venha passar uma pernoite em um veleiro na Urca!,198206849,Andréia,NaN,Urca,-22.94781,-43.16351,Private room,280,1,1,2022-02-19,0.25,1,365,1,NaN
2,1174007,100% Best View In Copa In Suite 2,3962758,Thiago Luiz,NaN,Copacabana,-22.97277,-43.17966,Private room,107,2,177,2022-06-07,1.69,6,357,29,NaN
3,8410797,Ipanema(Arpoador) 100mdo Mar/ Jan & Carnaval +Fev,42038091,Sheila,NaN,Ipanema,-22.98871,-43.19334,Private room,1000,3,1,2017-09-28,0.02,3,362,0,NaN
4,28053241,Navegar a Bordo de um Veleiro Francês no Rio!,193860988,Luciano,NaN,Urca,-22.95056,-43.17175,Private room,1850,2,0,NaN,NaN,1,180,0,NaN

#**Também é possível observar só as ultimas 5 linhas com tail, como é visto a diante.**

In [ ]:
#importando as 5 últimas linhas
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
24876,649994149549663983,Apartamento encantador no centro,184987752,Tatiane,NaN,Centro,-22.908390,-43.187100,Entire home/apt,251,1,0,NaN,NaN,1,358,0,NaN
24877,650006296362728202,Apartamento encantador em Copacabana,327150319,Elisabeth,NaN,Copacabana,-22.966930,-43.181400,Entire home/apt,440,1,1,2022-06-18,1.0,2,358,1,NaN
24878,650011310811912783,Apto em frente à praia com vista lateral mar,238604267,Claudia,NaN,Barra da Tijuca,-23.009351,-43.344853,Entire home/apt,380,1,0,NaN,NaN,12,90,0,NaN
24879,650020855611122186,Apto com vista deslumbrante na Barra,238604267,Claudia,NaN,Barra da Tijuca,-23.008220,-43.343700,Entire home/apt,300,2,0,NaN,NaN,12,89,0,NaN
24880,650025403378811576,Jumpinbed - Studio in Copacabana in front of t...,397106841,Jumpers,NaN,Copacabana,-22.976880,-43.189920,Entire home/apt,315,1,0,NaN,NaN,15,334,0,NaN

Já da para ver o número de linhas do documento. Mas existe maneira mais direta de saber isso. Usando "shape":

In [ ]:
#mostrando o número de linhas e colunas.
df.shape

(24881, 18)

Vamos destacar as colunas, saber quais informações estão em cada coluna, usando "columns".

In [ ]:
#mostrando apenas uma coluna específica. 
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

Uma pergunta, é possível trabalhar com apenas uma coluna? 
A resposta é sim. E é muito simples:

In [ ]:
#mostrando a coluna que contém os preços. coluna price.
df["price"]

0         350
1         280
2         107
3        1000
4        1850
         ...
24876     251
24877     440
24878     380
24879     300
24880     315
Name: price, Length: 24881, dtype: int64

Como está no código, no indice da variável df é colocado o nome da coluna buscada.

Uma outra pergunta que pode ser feita, é possível adicionar uma coluna nova ao DataFrame? Novamente a resposta é sim.
Da mesma forma, usando o indice da váriavel:

In [ ]:
#Adicionando uma nova coluna.
df["Coluna nova"]=0.0

Vamos ver a coluna nova com o que já sabemos.

In [ ]:
df["Coluna nova"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
24876    0.0
24877    0.0
24878    0.0
24879    0.0
24880    0.0
Name: Coluna nova, Length: 24881, dtype: float64

Por fim, uma função muito utilizada é quando queremos encontrar o maior valor, o menor valor, o valor médio e etc. 
Exemplo:

In [ ]:
#Encontrando o valor médio da coluna dos preços.
df["price"].mean()

745.3958844097906

Usando "mean" deu o valor médio. Mas caso queira um acumulado de informações de imediato, masta usar "describe":

In [ ]:
#Usando describe para preço.
df["price"].describe()

count     24881.000000
mean        745.395884
std        4983.640074
min           0.000000
25%         180.000000
50%         300.000000
75%         600.000000
max      591723.000000
Name: price, dtype: float64

Num comando só, já aponta o valor máximo, mínimo, desvio padrão(std) entre outros.

#**Conclusão.**

Aprendemos a identificar quantas linhas e colunas estamos trabalhando, aprendemos um pouco sobre mexer com colunas, aprendemos a identificar alguns valores importantes entre todos os dados.